body {
	background-color: black;
}

#page {
	display: block;
	background-color: white;
	width: 90%;
	height: 95%;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	border-radius: 8px;
	text-align: center;
}

#login {
	display: none;
}

#hasLoggedIn {
	display: none;
}